@import url('https://fonts.googleapis.com/css?family=Merriweather:700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext');

body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

/* --- GRID --- */

.row::before,
.row::after {
	content:"";
	display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#main {
    min-height: 100vh;
    background: url('../images/header.jpg') no-repeat center;
    background-size: cover;
    .hero {
        min-height: 100vh;
        position: relative;
        width: 100%;
        .side-text {
            font-family: 'Open Sans', sans-serif;
            color: #b0c9d2;
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            position: absolute;
            font-size: 12px;
            top: 56%;
            left: 4%;
        }
        .side-text_site {
            font-weight: 600;
            padding: 10px;
            color: #f6f9fa;
        }
        .logo {
            position: absolute;
            top: 5%;
            left: 15%;
            .logo-photo {
                vertical-align: middle;
            }
            .logo-text {
                font-family: 'Merriweather', serif;
                font-weight: 700;
                font-size: 20.8px;
                padding: 5px;
                color: #fff;
                vertical-align: middle;
            }
        }
        .iphone {
            position: absolute;
            height: 100%;
            width: 40%;
            background: url('../images/iPhone.png') no-repeat center;
            background-size: contain;
            top: 22%;
            right: 11%;
        }
        .slogan {
            position: absolute;
            left: 15%;
            top: 45%;
            .slogan-header {
                font-family: 'Open Sans', sans-serif;
                font-size: 60px;
                font-weight: 300;
                color: #fff;
                margin: 0;
            }
            .slogan-text {
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                color: #fff;
                font-weight: 400;
                line-height: 1.6;
            }
        }
    }
}
.container {
    margin: 0 auto;
    min-height: 1px;
    max-width: 1230px;
    width: 100%;
    position: relative;
}

.hidden {
    color: transparent;
}
.grey {
    color: #c1c1c2;
}

#text {
    margin: 45px 0 45px 0;
    .text-header {
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 300;
        color: #222626;
        margin: 15px 0;
        padding: 10px;
    }
    .text-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.87rem;
        font-weight: 400;
        color: #959595;
        padding: 10px;
        line-height: 1.6;
    }
}

#gallery {
    position: relative;
    margin-left: 255px;
    .gallery-box {
        height: 278px;
    }
    .gallery-box_1 {
        background: #f5989d;
    }
    .gallery-box_2 {
        background: #615f7d;
    }
    .gallery-box_3 {
        background: url('../images/gallery.jpg') no-repeat center;
        background-size: cover;
        position: relative;
        .gallery-icon {
            color: #fff;
            position: absolute;
            right: 35px;
            bottom: 60px;
        }
    }
    .gallery-box_4 {
        background: #bd8cbf;
    }
    .gallery-box_5 {
        background: url('../images/gallery-1.jpg') no-repeat center;
        background-size: cover;
        position: relative;
        .gallery-icon {
            color: #fff;
            position: absolute;
            right: 35px;
            bottom: 60px;
        }
    }
    .gallery-box_6 {
        background: #82ca9c;
    }
    .gallery-box_7 {
        background: url('../images/gallery-3.jpg') no-repeat center;
        background-size: cover;
    }
    .gallery-box_text {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: 300;
        margin-top: 50px;
        margin-left: 50px;
        .gallery-text_paragraph {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 400;
            color: #fff;
            padding-top: 15px;
        }
        .gallery-text_footer {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            padding-top: 15px;
        }
    }
}

#four-column {
    margin: 45px 0 45px 0;
    position: relative;
    .side-text {
        font-family: 'Open Sans', sans-serif;
        color: transparent;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
        position: absolute;
        color: #b0c9d2;
        font-size: 12px;
        top: 56%;
        left: 4%;
    }
    .hidden {
        color: transparent;
    }
    .side-text_site {
        font-weight: 600;
        padding: 10px;
        color: #f6f9fa;
    }
    .grey {
        color: #c1c1c2;
    }
    .text-header {
        font-family: 'Open Sans', sans-serif;
        font-size: 35px;
        font-weight: 300;
        color: #222626;
        margin: 15px 0;
        padding: 10px;
    }
    .text-paragraph_header {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 600;
        color: #67676d;
        padding: 10px;
        margin: 0;
    }
    .text-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.87rem;
        font-weight: 400;
        color: #959595;
        padding: 10px;
        line-height: 1.6;
    }
}

#full-image {
    min-height: 874px;
    background: url('../images/car.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    .full-image_slogan {
        position: absolute;
        left: 15%;
        top: 45%;
        .slogan-header {
            font-family: 'Open Sans', sans-serif;
            font-size: 60px;
            font-weight: 300;
            color: #fff;
            margin: 0;
        }
        .slogan-text {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #fff;
            font-weight: 400;
            line-height: 1.6;
        }
        .gallery-text_footer {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            padding-top: 15px;
        }
    }
}

#colour {
    background: #82ca9c;
    position: relative;
    .side-text {
        font-family: 'Open Sans', sans-serif;
        color: #b0c9d2;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
        position: absolute;
        font-size: 12px;
        top: 56%;
        left: 4%;
    }
    .hidden {
        color: transparent;
    }
    .side-text_site {
        font-weight: 600;
        padding: 10px;
        color: #f6f9fa;
    }
    .three-column {
        padding: 120px 0;
        .three-column_title{
            font-family: 'Open Sans', sans-serif;
            font-size: 35px;
            font-weight: 300;
            color: #fff;
            margin: 15px 0 50px;
            padding: 10px;
        }
        .three-column_header {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.81rem;
            font-weight: 600;
            color: #fff;
            padding: 10px;
            margin: 0;
        }
        .three-column_paragraph {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.87rem;
            font-weight: 400;
            color: #fff;
            padding: 10px;
            line-height: 1.6;
        }
    }
}

#buying {
    background: #f6f7fa;
    position: relative;
    .side-text {
        font-family: 'Open Sans', sans-serif;
        color: #b0c9d2;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
        position: absolute;
        font-size: 12px;
        top: 56%;
        left: 4%;
    }
    .hidden {
        color: transparent;
    }
    .side-text_site {
        font-weight: 600;
        padding: 10px;
        color: #f6f9fa;
    }
    .grey {
        color: #c1c1c2;
    }
    .two-column {
        padding: 120px 0;
        .buying-column {
            padding: 40px;
            .buying-rectangle {
                border: 1px solid;
                display: inline-block;
                border-radius: 5px;
                padding: 5px 10px;
                margin: 5px;
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 12px;
            }
            .first {
                background: #e1e1e1;
            }
            .second {
                background: #bd8cbf;
            }
        }
        .two {
            background: #fff;
        }
        .text-header {
            font-family: 'Open Sans', sans-serif;
            font-size: 35px;
            font-weight: 300;
            color: #222626;
            margin: 15px 0;
            padding: 10px;
        }
        .text-paragraph {
            font-family: 'Open Sans', sans-serif;
            font-size: 0.87rem;
            font-weight: 400;
            color: #959595;
            padding: 10px;
            line-height: 1.6;
        }
        .buy-now {
            padding: 15px 25px;
            display: inline-block;
            border-style: none;
            border-radius: 5px;
            margin: 5px;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 13px;
            background: #82ca9c;
            &:active {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .icons {
            padding: 10px 7px;
            font-size: 20px;
            color: #c5c5c5;
        }
    }
}

#footer {
    background: #192431;
    padding: 120px 0;
    .three-column_header {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.81rem;
        font-weight: 600;
        color: #fff;
        padding: 10px;
        margin: 0;
    }
    .three-column_paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.87rem;
        font-weight: 400;
        color: #fff;
        padding: 10px;
        line-height: 1.6;
    }
    .foot {
        margin: 30px 0 0 10px;
        .foot-input {
            width: 50%;
            height: 50px;
            border: none;
            padding: 0;
        }
        .foot-btn {
            width: 15%;
            height: 50px;
            border: none;
            background: #82ca9c;
            color: #fff;
        }
    }
    .text-paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.87rem;
        font-weight: 400;
        color: #959595;
        padding: 10px;
        line-height: 1.6;
    }
    .input {
        margin: 0;
    }
}

@media(max-width: 767px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #text, #four-column, #colour, #buying, #footer {
        text-align: center;
    }
    #gallery {
        margin: 0;
        .gallery-box_text {
            font-size: 26px;
        }
    }
    #footer {
        padding: 60px 0;
    }
    .container {
        padding: 15px;
    }
    .iphone {
        display: none;
    }
    .slogan-header {
        font-size: 42px !important;
    }
    .text-header {
        font-size: 26px;
    }
    .text-paragraph {
        font-size: 13px;
        .input {
            font-size: 10px;
            margin: 10px;
        }
    }
    .three-column {
        padding: 80px 0;
        .three-column_title {
            font-size: 26px;
        }
    }
    .two-column {
        padding: 80px 0;
    }
    .side-text.hidden {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {

    .col-m-6 {width: 50%;}
    .col-m-12 {width: 100%;}

    .container {
        padding: 10px;
    }
    .slogan-text {
        font-size: 18px;
    }
    .text-paragraph {
        font-size: 16px;
        .input {
            font-size: 12px;
        }
    }
    .text-paragraph_header {
        font-size: 18px;
    }
    #gallery {
        margin: 0;
        .gallery-box_text {
            margin-top: 20px;
            margin-left: 10px;
        }
        .gallery-text_paragraph {
            font-size: 16px;
        }
        .gallery-text_footer {
            font-size: 16px;
        }
    }
    #four-column {
        text-align: center;
    }
    .three-column_title {
        margin-top: 0;
        text-align: center;
    }
    .three-column_header {
        font-size: 18px;
    }
    .three-column_paragraph {
        font-size: 16px;
    }
    .side-text.hidden {
        display: none;
    }
}