body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.content__text {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
  padding: 10px;
}

.content__text--white {
  color: #fff;
}

.content__text--grey {
  color: #959595;
}

.content__text--600 {
  font-weight: 600;
}

.content--link {
  color: #fff;
  text-decoration: none;
}

.content__title {
  font-size: 1rem;
  font-weight: 600;
  color: #67676d;
  padding: 10px;
}

.content__title--white {
  color: #fff;
}

.marr--padd {
  margin: 0;
  padding: 0;
}

.slogan__header {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.2;
  font-size: 4.6rem;
  font-weight: 300;
  padding: 10px;
}

.content__header {
  font-size: 2.6rem;
  line-height: 1.7;
  font-weight: 300;
  color: #222626;
  margin: 20px 0;
  padding: 10px;
}

.content__header--white {
  color: #fff;
}

.side__banner {
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
  font-weight: 300;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  position: absolute;
  top: 56%;
  left: 4%;
  letter-spacing: 1px;
}

.side__banner--site {
  font-weight: 600;
  padding: 10px;
}

.side__banner--grey {
  color: #c1c1c2;
  font-weight: 600;
  top: 28%;
}

@keyframes mymove {
  from {
    left: 55%;
  }

  to {
    left: 80%;
  }
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 45%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 10vh 20px;
  position: relative;
}

.main {
  min-height: 100vh;
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover;
  position: relative;

  .logo {
    position: absolute;
    top: 5%;
    left: 19%;

    .logo__photo {
      vertical-align: middle;
    }

    .logo__text {
      font-family: "Merriweather", serif;
      font-style: italic;
      font-size: 20.8px;
      font-weight: 700;
      padding: 5px;
      color: #fff;
      vertical-align: middle;
    }
  }

  .iphone {
    position: absolute;
    height: 90%;
    width: 40%;
    background: url("../images/phone.png") no-repeat center;
    background-size: contain;
    top: 27%;
    right: 13%;
  }

  .slogan {
    position: absolute;
    left: 19%;
    top: 45%;
    max-width: 450px;
  }
}

.gallery {
  position: relative;
  margin-left: 345px;

  .gallery__box {
    height: 278px;
    position: relative;

    .gallery__layer {
      width: 100%;
      height: 100%;
      transition: 0.7s;
      position: absolute;
      z-index: 1;

      .gallery__icon {
        color: #fff;
        position: absolute;
        left: 80%;
        bottom: 23%;
        display: none;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.7);
        cursor: pointer;

        .gallery__icon {
          display: initial;
          animation: mymove 1.5s;
        }
      }
    }
  }

  .gallery__box-1 {
    background: #f5989d;
  }

  .gallery__box-2 {
    background: #615f7d;
  }

  .gallery__box-3 {
    background: url("../images/gallery.jpg") no-repeat center;
    background-size: cover;
    position: relative;
  }

  .gallery__box-4 {
    background: #bd8cbf;
  }

  .gallery__box-5 {
    background: url("../images/gallery-1.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    .gallery__layer {
      .gallery__icon {
        color: #fff;
        position: absolute;
        left: 80%;
        bottom: 17%;
        display: none;
      }
    }
  }

  .gallery__box-6 {
    background: #82ca9c;
  }

  .gallery__box-7 {
    background: url("../images/gallery-3.jpg") no-repeat center;
    background-size: cover;
  }

  .gallery__content {
    position: absolute;
    top: 18%;
    left: 5%;
    max-width: 360px;
  }

  .gallery__header {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
  }
}

.four-column {
  position: relative;
}

.car {
  min-height: 874px;
  background: url("../images/car.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .car__wrapper {
    position: absolute;
    left: 18%;
    top: 40%;
    max-width: 530px;
  }
}

.colour {
  background: #82ca9c;
  position: relative;
}

.buying {
  background: #f6f7fa;
  position: relative;

  .buying__column {
    padding: 20px;
    margin: 20px;
    transition: 0.8s;

    &:hover {
      background: #fff;
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
    }

    .column__title {
      color: #fff;
      padding: 5px 15px;
      font-size: 12px;
      display: inline-block;
      border-radius: 5px;
      margin: 0 10px;
      font-weight: 600;
    }

    .column__title--grey {
      background: #e1e1e1;
    }

    .column__title--purple {
      background: #bd8cbf;
    }

    .column__button {
      color: #fff;
      padding: 15px 25px;
      letter-spacing: 1.2px;
      border-style: none;
      border-radius: 5px;
      margin: 5px;
      font-weight: 600;
      background: #82ca9c;
      transition: 0.7s;

      &:hover {
        cursor: pointer;
        background: #f5989d;
      }
    }

    .icons__wrapper {
      margin: 15px 5px;

      .icon {
        font-size: 20px;
        color: #c5c5c5;
        padding: 5px;
        text-decoration: none;

        &:hover {
          color: #82ca9c;
          transition: 0.5s;
        }
      }
    }
  }
}

.footer {
  background: #192431;

  .content--link {
    display: block;

    &:hover {
      color: #82ca9c;
      transition: 0.5s;
    }
  }

  .footer__form {
    max-width: 470px;
    padding: 10px;
  }

  .form__input {
    width: 70%;
    height: 50px;
    border: none;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .form__btn {
    width: 15%;
    height: 50px;
    border: none;
    background: #82ca9c;
    color: #fff;
    margin-left: -15px;
    padding: 0;
    vertical-align: bottom;
    transition: 0.7s;

    &:hover {
      background: #f5989d;
    }
  }

  .footer--color {
    color: #364455;
    padding-top: 0;
  }

  .footer--margin {
    margin-left: 5%;
  }
}

@media (max-width: 736px) {
  .col-s-12 {
    width: 100%;
  }

  .content__header {
    font-size: 2rem;
    text-align: center;
  }

  .content__title {
    text-align: center;
  }

  .side__banner {
    display: none;
  }

  .side__banner--grey {
    display: none;
  }

  .main {
    .logo {
      left: 5%;
    }

    .slogan {
      left: 0%;
      top: 45%;
      padding: 20px;

      .slogan__header {
        font-size: 2.5rem;
      }
    }

    .iphone {
      height: 75%;
    }
  }

  .gallery {
    margin: 0;

    .gallery__header {
      font-size: 1.8rem;
    }

    .gallery__layer {
      pointer-events: none;
    }
  }

  .car {
    background-attachment: unset;

    .car__wrapper {
      left: 0%;
      top: 55%;
      padding: 20px;

      .slogan__header {
        font-size: 2.4rem;
      }
    }
  }

  .buying {
    .buying__column {
      margin: 20px 0;
      padding: 20px;
      text-align: center;

      .column__title {
        margin-top: 20px;
      }

      .column__button {
        margin: 20px;
      }

      .icons__wrapper {
        margin: 20px;
      }
    }
  }

  .footer {
    .content__title {
      text-align: left;
    }

    .footer--margin {
      margin: 0;
    }

    .form__input {
      width: 80%;
    }

    .form__btn {
      width: 20%;
    }
  }
}

@media (max-width: 736px) and (orientation: portrait) {
  .iphone {
    display: none;
  }
}

@media (min-width: 737px) and (max-width: 1199px) {
  .col-m-6 {
    width: 50%;
  }

  .col-m-12 {
    width: 100%;
  }

  .content__header {
    text-align: center;
  }

  .content__title {
    text-align: center;
  }

  .side__banner {
    display: none;
  }

  .side__banner--grey {
    display: none;
  }

  .main {
    .logo {
      left: 10%;
    }

    .slogan {
      left: 10%;
      top: 48%;
    }
  }

  .gallery {
    margin: 0;

    .gallery__layer {
      pointer-events: none;
    }
  }

  .car {
    .car__wrapper {
      left: 5%;
    }
  }

  .colour__wrapper {
    text-align: center;

    .content__text {
      padding: 10px 20px;
    }
  }

  .buying {
    .buying__column {
      margin: 0;
      text-align: center;
    }
  }

  .footer {
    text-align: left;

    .content__title {
      text-align: left;
    }

    .form__input {
      width: 80%;
    }

    .form__btn {
      width: 20%;
    }

    .footer--margin {
      margin: 0;
    }
  }
}

// iPhone X, 8plus
@media (min-device-width: 375px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .main {
    .iphone {
      height: 75%;
    }
  }

  .slogan__header {
    font-size: 4rem;
  }
}